<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="title" id="{{pollId}}">{{question}}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            {{#each options}}
                                <button id="{{this.id}}" class="list-group-item" onClick="vote('{{this.answer}}')">
                                    {{this.answer}} : <span id="votes">{{this.votes}}</span>
                                </button>
                            {{/each}}
                        </div>
                        <div action="/api/vote" style="padding:10px 15px" method="post">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-2 col-form-label">Other answer</label>
                                <div class="col-10">
                                <input class="form-control" id="other-answer" type="text" name="answer">
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="vote($('#other-answer').val())">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div style="width: 100%">
                    <canvas id="pie-chart-area" />
                </div>
                <div id="legend"></div>
            </div>
        </div>
    </div>
    <script src="/public/Chart.js"></script>
    <script>
        var pieData = [
            {{!--Has to recreate data to stop xss.--}}
            {{#each chartData}}
            {
                value: {{this.value}},
                color: "{{this.color}}",
                highlight: "{{this.highlight}}",
                label: "{{this.label}}"
            },
            {{/each}}
        ];
        updateChart();
    </script>
</div>
