<div class="container">
    <h2 class="title" id="{{pollId}}">{{question}}</h2>
    {{#each options}}
    <li id="{{this.answer}}">{{this.answer}} : <span id="votes">{{this.votes}}</span><button onClick="vote('{{this.answer}}')">VOTE</button></li>
    {{/each}}
</div>
