<div class="container">
    <h2>Welcome, {{username}} </h2>
    <div class="panel panel-default">
        <div class="panel-heading">My Polls</div>
        <div class="panel-body">
            <div class="list-group">
                {{#each myPolls}}
                    <div id="{{this.id}}" class="panel panel-default">
                        <a id="poll-display" class="btn btn-default" href="/polls/{{this._id}}">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{this.question}}</h3>
                            </div>
                            <div class="panel-body">| 
                                {{#each this.options}}
                                    <span>{{this.answer}}</span> |
                                {{/each}}
                            </div>
                        </a>

                        <div class="btn-group delete" role="group">
                            <button type="button" class="btn btn-danger delete" onclick="removePoll('{{this._id}}')">DELETE</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
