<div class="container">\
    <p>Username: {{username}} </p>
    <div class="panel panel-default">
        <div class="panel-heading">Polls</div>
        <div class="panel-body">
            <div class="list-group">
                {{#each myPolls}}
                    <a href="/polls/{{this._id}}" class="list-group-item">
                        <div id="{{this._id}}">
                            <h4>{{this.question}}</h4>|
                            {{#each this.options}}
                                <span>{{this.answer}}</span> |
                            {{/each}}
                        </div>
                    </a>
                    <button onclick="removePoll('{{this._id}}')">DELETE</button>
                {{/each}}
            </div>
        </div>
    </div>
</div>
