<div class="container">
    <p>ID: {{id}}</p>
    <p>Username: {{username}} </p>
    <a class="menu" href="/">Home</a>
    <a class="menu" href="/logout">Logout</a>
    {{#each myPolls}}
    <div id="{{this._id}}">
        <a href="/polls/{{this._id}}">
            <h3>{{this.question}}</h3>
        </a>

        <ol>
            {{#each this.options}}
                <li>{{this.answer}}</li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
</div>
