<div class="container">
    <h2>Welcome, {{{username}}} </h2>
    <div class="panel panel-default">
        <div class="panel-heading">My Polls</div>
        <div class="panel-body">
            <div class="list-group">
                {{#each myPolls}}
                    <div id="{{this.id}}" class="row">
                        <div class="poll-panel">
                            <a id="poll-display" class="btn btn-default" href="/polls/{{this._id}}">
                                <div class="panel-heading">
                                    <p class="ellipsis-overflow panel-title">{{this.question}}</p>
                                </div>
                                <div class="panel-body ellipsis-overflow">|
                                    {{#each this.options}}
                                        <span>{{this.answer}}</span> |
                                    {{/each}}
                                </div>
                            </a>
                            <button type="button" class="btn btn-danger delete-btn" onclick="removePoll('{{this._id}}')">X</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
